extends layout

block content
  h1= title
  p Welcome to #{title}

  h1 Content

  if error
    p Error getting dynamic content.
  else

    p The system has the following record counts:

    ul
      li #[strong Users:] !{data.users}
      li #[strong Resumes:] !{data.resumes}
