extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='firstName') First Name:
      input#firstName.form-control(type='text', placeholder='First name (Christian) last' name='firstName' required='true' value=(undefined===user ? '' : user.firstName))
    div.form-group
      label(for='lastName') Last Name:
      input#lastName.form-control(type='text', placeholder='Family name (surname)' name='lastName' required='true' value=(undefined===user ? '' : user.lastName) )
    div.form-group
      label(for='email') Email:
      input#lastName.form-control(type='text', placeholder='Email (name@company.com)' name='email' required='true' value=(undefined===user ? '' : user.email) )
    div.form-group
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg